<!-- Validation failure messages -->
<% if @list.errors.any? %>
  <% @list.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add List</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_list" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @list.title %>">
      </div>

      <!-- Label and input for board_id -->
      <div class="form-group">
        <label for="board_id" class="control-label">
          Board
        </label>

        <input type="text" id="board_id" name="board_id" placeholder="Board" class="form-control" value="<%= @list.board_id %>">
      </div>

      <!-- Label and input for position_order -->
      <div class="form-group">
        <label for="position_order" class="control-label">
          Position order
        </label>

        <input type="text" id="position_order" name="position_order" placeholder="Position order" class="form-control" value="<%= @list.position_order %>">
      </div>

      <button class="btn btn-default">
        Create List
      </button>
      or
      <a href="/lists">Cancel</a>
    </form>
  </div>
</div>
