<!-- Validation failure messages -->
<% if @note.errors.any? %>
  <% @note.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Note #<%= @note.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_note/<%= @note.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <textarea id="body" name="body" placeholder="Body" class="form-control" rows="3"><%= @note.body %></textarea>
      </div>

      <!-- Label and input for card_id -->
      <div class="form-group">
        <label for="card_id" class="control-label">
          Card
        </label>

        <input type="text" id="card_id" name="card_id" placeholder="Card" class="form-control" value="<%= @note.card_id %>">
      </div>

      <button class="btn btn-default">
        Update Note
      </button>
      or
      <a href="/notes/<%= @note.id %>">Cancel</a>
    </form>
  </div>
</div>
