<div class="page-header">
  <h3>Note #<%= @note.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Body</dt>
      <dd><%= @note.body %></dd>

      <dt>Card</dt>
      <dd><%= @note.card_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/notes" class="btn btn-default">
        Back
      </a>
      <a href="/notes/<%= @note.id %>/edit" class="btn btn-default">
        Edit
      </a>
      <a href="/delete_note/<%= @note.id %>" class="btn btn-default" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
