<!-- Validation failure messages -->
<% if @card.errors.any? %>
  <% @card.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Card #<%= @card.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_card/<%= @card.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @card.title %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @card.description %></textarea>
      </div>

      <!-- Label and input for list_id -->
      <div class="form-group">
        <label for="list_id" class="control-label">
          List
        </label>

        <input type="text" id="list_id" name="list_id" placeholder="List" class="form-control" value="<%= @card.list_id %>">
      </div>

      <!-- Label and input for position_order -->
      <div class="form-group">
        <label for="position_order" class="control-label">
          Position order
        </label>

        <input type="text" id="position_order" name="position_order" placeholder="Position order" class="form-control" value="<%= @card.position_order %>">
      </div>

      <button class="btn btn-default">
        Update Card
      </button>
      or
      <a href="/cards/<%= @card.id %>">Cancel</a>
    </form>
  </div>
</div>
